*{
    padding: 0;
    margin: 0;
}
.navbar{
    position: absolute;
    width: 100%;
    z-index: 999;
}
.nav-link{
    margin-left: 30px;
}
a.nav-link{
    color: white;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
}
.free a{
    color: black;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    margin-left: 20px;
    padding: 19px 30px;
    background-color: white;
    border-radius: 10px;
}